allow hal_health_default proc_tp:dir { search };
allow hal_health_default proc_tp:file { read write };
allow hal_health_default proc_tp:file { open };
