allow nvram_daemon proc_cmdline:file { read };
allow nvram_daemon proc_cmdline:file { open };
allow nvram_daemon proc_cmdline:file { getattr };
allow nvram_daemon sysfs_dt_firmware_android:dir { search };
allow nvram_daemon sysfs_dt_firmware_android:file { read };
allow nvram_daemon sysfs_dt_firmware_android:file { open };
allow nvram_daemon sysfs_dt_firmware_android:file { getattr };
allow nvram_daemon gsi_metadata_file:dir { search };
allow nvram_daemon sysfs:file { read };
allow nvram_daemon sysfs:file { open };
