type vtservice, coredomain;
type vtservice_exec, exec_type, file_type, system_file_type;

init_daemon_domain(vtservice);
binder_use(vtservice)
binder_call(vtservice, mediaserver)

allow vtservice radio_service:service_manager find;
allow vtservice vtservice_service:service_manager add;
allow vtservice init:fd { use };
allow vtservice null_device:chr_file { read write };
allow vtservice system_linker_exec:file { map };
allow vtservice system_linker_exec:file { read };
allow vtservice system_linker_exec:file { execute };
allow vtservice device:dir { search };
allow vtservice dev_cpu_variant:file { read };
allow vtservice dev_cpu_variant:file { open };
allow vtservice random_device:chr_file { read };
allow vtservice self:process { getsched };
allow vtservice property_info:file { map };
allow vtservice properties_serial:file { map };
allow vtservice build_prop:file { map };
allow vtservice proc:lnk_file { read };
allow vtservice self:dir { search };
allow vtservice self:lnk_file { read };
allow vtservice linkerconfig_file:file { getattr };
allow vtservice linkerconfig_file:file { read };
allow vtservice linkerconfig_file:file { open };
allow vtservice vndk_prop:file { map };
allow vtservice system_file:dir { getattr };
allow vtservice system_lib_file:dir { getattr };
allow vtservice vendor_file:dir { getattr };
allow vtservice same_process_hal_file:dir { getattr };
allow vtservice vendor_hal_file:dir { getattr };
allow vtservice system_lib_file:file { read };
allow vtservice system_lib_file:file { open };
allow vtservice system_lib_file:file { getattr };
allow vtservice labeledfs:filesystem { getattr };
allow vtservice system_lib_file:file { map };
allow vtservice system_lib_file:lnk_file { read };
allow vtservice system_lib_file:file { execute };
allow vtservice gwp_asan_prop:file { map };
allow vtservice libc_debug_prop:file { map };
allow vtservice heapprofd_prop:file { map };
allow vtservice sysfs:dir { search };
allow vtservice vendor_socket_hook_prop:file { map };
allow vtservice selinuxfs:filesystem { getattr };
allow vtservice bq_config_prop:file { map };
allow vtservice proc_cpuinfo:file { read };
allow vtservice proc_cpuinfo:file { open };
allow vtservice log_tag_prop:file { map };
allow vtservice binder_device:lnk_file { read };
allow vtservice binder_device:chr_file { read };
allow vtservice binder_device:chr_file { write };
allow vtservice binder_device:chr_file { open };
allow vtservice binderfs_logs_proc:dir { search };
allow vtservice binder_device:chr_file { ioctl };
allow vtservice binder_device:chr_file { map };
allow vtservice self:unix_dgram_socket { create };
allow vtservice self:unix_dgram_socket { connect };
allow vtservice logdw_socket:sock_file { write };
allow vtservice logd:unix_dgram_socket { sendto };
allow vtservice self:unix_dgram_socket { write };
allow vtservice pmsg_device:chr_file { write };
allow vtservice pmsg_device:chr_file { open };
allow vtservice self:process { fork };
allow vtservice properties_device:dir { search };
allow vtservice vendor_mtk_volte_support_prop:file { map };
allow vtservice ccci_device:chr_file { read write };
allow vtservice ccci_device:chr_file { open };
allow vtservice ccci_device:chr_file { ioctl };
allow vtservice self:process { setsched };
allow vtservice vendor_mtk_vilte_support_prop:file { map };
allow vtservice vendor_mtk_viwifi_support_prop:file { map };
allow vtservice hwbinder_device:lnk_file { read };
allow vtservice hwbinder_device:chr_file { read write };
allow vtservice hwservicemanager_prop:file { map };
allow vtservice hwbinder_device:chr_file { open };
allow vtservice hwbinder_device:chr_file { ioctl };
allow vtservice hwbinder_device:chr_file { map };
allow vtservice debugfs_tracing_debug:dir { search };
allow vtservice debugfs_trace_marker:file { write };
allow vtservice debugfs_trace_marker:file { open };
allow vtservice self:file { read };
allow vtservice self:file { open };
allow vtservice self:file { getattr };
binder_call(hwservicemanager, vtservice)
allow vtservice vtservice_hidl:fd { use };
allow vtservice ashmem_libcutils_device:chr_file { read write };
allow vtservice ashmem_libcutils_device:chr_file { map };
binder_call(radio, vtservice)
